<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.brain.sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__HOME__/.local/share/brain-kit/brain-sync.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__HOME__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MIN__</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__HOME__/.config/brain-kit/sync.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/.config/brain-kit/sync.log</string>
</dict>
</plist>
